
.container{
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.divContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; 
}

.titleContainer{
  margin-bottom: 0.5rem;
  box-shadow: -5px 0 2px -2px #0C4B76; 
}

.titleNewRecomended {
  text-align: start;
  margin: 0.5rem;
  font-size: large;
  font-family: var(--family-font);
}

.container-extras{
  display: flex;
  padding: 1rem;
  background-color: #0c4c7615;
  margin: 1rem;
}

.link{
  text-decoration: none;
  display: flex;
  font-size: 0.5rem;
  text-align: justify;
}

.image-notiextra{
  max-width: 6rem;
  height: auto;
  padding-right: 0.3rem;
}
.introduction-news{
  font-size: 0.8rem;
}

@media screen and (max-width: 900px) {
  .container {
      width: 60%;
      float: none;
      height: 100vh;
  }
}