.socialNetworks {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 1px solid #ced4da;
    padding: 0 20px 0 0;
}
.socialNetworks h3 {
    letter-spacing: 2px;
}
.socialNetworks__container {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.borderSocialNetworks {
    height: 55px;
    width: 55px;
    padding: 3px 0 0 0;
    border: 1px solid #0d3b66;
    border-radius: 50%;
    transition: 100ms all ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.borderSocialNetworks:hover {
    transform: scale(1.1);
}
.iconSocialNetworks {
    font-size: 30px;
    color: #0d3b66;

}